{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
    '@InfoGoalKickerBundle/Resources/public/scss/Users/users.scss'
    '@InfoGoalKickerBundle/Resources/public/scss/Users/user.scss' %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}Users{% endblock %}

{% block body %}
    <main class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-offset-3">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Paieška">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            {% set selected = {'name':'Vardą', 'level':'Lygį', 'played':'Žaidimų sk.', 'won':'Pergalių sk.', 'lastGame':'Pask. žaidimą'} %}

            <div class="btn-group dropdown visible-xs col-xs-6">
                <div class="pull-right"><!--
            --><button type="button" class="btn btn-default" disabled>{{ selected[app.request.query.get("order")]|default('Rikiuoti pagal:') }}</button><!--
            --><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu">
                        <li><a role="menuitem" tabindex="-1" href="{{ path('info_goal_kicker_users_index', {'order' : 'name', 'how' : (orderHow == 'asc' and orderBy == 'name') ? 'desc' : 'asc'}) }}">Vardą</a></li>
                        <li><a role="menuitem" tabindex="-1" href="{{ path('info_goal_kicker_users_index', {'order' : 'level', 'how' : (orderHow == 'asc' and orderBy == 'level') ? 'desc' : 'asc'}) }}">Lygį</a></li>
                        <li><a role="menuitem" tabindex="-1" href="{{ path('info_goal_kicker_users_index', {'order' : 'played', 'how' : (orderHow == 'asc' and orderBy == 'played') ? 'desc' : 'asc'}) }}">Žaidimų skaičių</a></li>
                        <li><a role="menuitem" tabindex="-1" href="{{ path('info_goal_kicker_users_index', {'order' : 'won', 'how' : (orderHow == 'asc' and orderBy == 'won') ? 'desc' : 'asc'}) }}">Pergalių skaičių</a></li>
                        <li><a role="menuitem" tabindex="-1" href="{{ path('info_goal_kicker_users_index', {'order' : 'lastGame', 'how' : (orderHow == 'asc' and orderBy == 'lastGame') ? 'desc' : 'asc'}) }}">Paskutinį žaidimą</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
        <div id="sort-menu" class="btn-group" role="group">

                <button type="button" class="btn btn-default col-sm-4" onclick="location.href='{{ path('info_goal_kicker_users_index', {'order' : 'name', 'how' : (orderHow == 'asc' and orderBy == 'name') ? 'desc' : 'asc'}) }}'">
                    <div>
                        <p>Vardas</p>
                        {% set rotate='' %}
                        {% if orderHow == 'asc' and orderBy == 'name' %}
                            {% set rotate='rotate' %}
                        {% endif %}
                        <span class="caret {{ rotate }}"></span>
                    </div>
                </button><!--
                solution for extra space http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
            --><button type="button" class="btn btn-default col-sm-2" onclick="location.href='{{ path('info_goal_kicker_users_index', {'order' : 'level', 'how' : (orderHow == 'asc' and orderBy == 'level') ? 'desc' : 'asc'}) }}'">
                    <div>
                        <p>Lygis</p>
                        {% set rotate='' %}
                        {% if orderHow == 'asc' and orderBy == 'level' %}
                            {% set rotate='rotate' %}
                        {% endif %}
                        <span class="caret {{ rotate }}"></span>
                    </div>
                </button><!--
            --><button type="button" class="btn btn-default col-sm-2" onclick="location.href='{{ path('info_goal_kicker_users_index', {'order' : 'played', 'how' : (orderHow == 'asc' and orderBy == 'played') ? 'desc' : 'asc'}) }}'">
                    <div>
                        <p>Žaista</p>
                        {% set rotate='' %}
                        {% if orderHow == 'asc' and orderBy == 'played' %}
                            {% set rotate='rotate' %}
                        {% endif %}
                        <span class="caret {{ rotate }}"></span>
                    </div>
                </button><!--
            --><button type="button" class="btn btn-default col-sm-2" onclick="location.href='{{ path('info_goal_kicker_users_index', {'order' : 'won', 'how' : (orderHow == 'asc' and orderBy == 'won') ? 'desc' : 'asc'}) }}'">
                    <div>
                        <p>Laimėta</p>
                        {% set rotate='' %}
                        {% if orderHow == 'asc' and orderBy == 'won' %}
                            {% set rotate='rotate' %}
                        {% endif %}
                        <span class="caret {{ rotate }}"></span>
                    </div>
                </button><!--
            --><button type="button" class="btn btn-default col-sm-2" onclick="location.href='{{ path('info_goal_kicker_users_index', {'order' : 'lastGame', 'how' : (orderHow == 'asc' and orderBy == 'lastGame') ? 'desc' : 'asc'}) }}'">
                    <div>
                        <p>Pask. žaidimas</p>
                        {% set rotate='' %}
                        {% if orderHow == 'asc' and orderBy == 'lastGame' %}
                            {% set rotate='rotate' %}
                        {% endif %}
                        <span class="caret {{ rotate }}"></span>
                    </div>
                </button>
            </div>
        </div>
        {% for user in users %}
            {{ include('@InfoGoalKicker/Users/user.html.twig', { 'user': user }) }}
        {% endfor %}

    </main><!-- end container -->
{% endblock %}