<div class="col-xs-9 col-sm-5 col-md-4 player-icon">
    <a href="{{ path('profile_page', {'id': player.id}) }}">
    {% if player.photo is not empty %}
        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/' ~ player.photo ~ '.jpg') }}" alt="player" class="img-thumbnail">
    {% else %}
        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}" alt="player" class="img-thumbnail">
    {% endif %}
    </a>
    <div class="level-icon"><div class="level-number">{{ player.level }}</div></div>
</div>
<div class="hidden-xs col-sm-7 col-md-8 player-info">
    <p class="player-name">
        <a href="{{ path('profile_page', {'id': player.id}) }}">
            {% autoescape %}
                {{ player.name|replace({ (' '): '<br>' })|raw }}
            {% endautoescape %}
        </a>
    </p>
    <p class="player-game-info">Žaista: {{ player.played }}   Laimėta: {{ player.won }}</p>
    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ player.xp }}" aria-valuemin="0" aria-valuemax="{{ player.levelXp }}"
             style="width:{{ player.xp*100/player.levelXp }}% ">
            <span>{{ player.xp }}/{{ player.levelXp }}</span>
        </div>

    </div>

</div>