{% extends "::base.html.twig" %}

{% block title %}Table:game{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
    '@InfoGoalKickerBundle/Resources/public/scss/Table/table.scss' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@InfoGoalKickerBundle/Resources/public/js/reload.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">

    <div id="table" class="col-xs-12">
        <img id="field-game" src="{{ asset('/bundles/infogoalkicker/assets/soccer-field.png') }}" alt="Soccer field" class="img-responsive">
            <div id="table-game" class="match-results">
                <h1>Laimėtojai</h1>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 winners">
                        <div class="row">
                            <div class="col-sm-6">
                                {% if player1 is null %}
                                    <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}"
                                         alt="player" class="img-thumbnail">
                                    <p class="player-name">Anonimas</p>

                                {% else %}
                                    {% if player1.photo is not empty %}
                                        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/' ~ player1.photo ~ '.jpg') }}"
                                             alt="player" class="img-thumbnail">
                                    {% else %}
                                        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}"
                                             alt="player" class="img-thumbnail">
                                    {% endif %}
                                    <div class="level-icon">
                                        <div class="level-number">{{ player1.level }}</div>
                                    </div>
                                    <p class="player-name">
                                        {% autoescape %}
                                        {{ player1.name|replace({ (' '): '<br>' })|raw }}
                                        {% endautoescape %}
                                    </p>
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                {% if player2 is null %}
                                    <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}"
                                         alt="player" class="img-thumbnail">
                                    <p class="player-name">Anonimas</p>

                                {% else %}
                                    {% if player2.photo is not empty %}
                                        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/' ~ player2.photo ~ '.jpg') }}"
                                             alt="player" class="img-thumbnail">
                                    {% else %}
                                        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}"
                                             alt="player" class="img-thumbnail">
                                    {% endif %}
                                    <div class="level-icon">
                                        <div class="level-number">{{ player2.level }}</div>
                                    </div>
                                    <p class="player-name">
                                        {% autoescape %}
                                        {{ player2.name|replace({ (' '): '<br>' })|raw }}
                                        {% endautoescape %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end table-game -->

        </div>
        <!-- end table -->

    </div>
    <!-- end container -->


{% endblock %}