{% extends "::base.html.twig" %}

{% block title %}Table:game{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
    '@InfoGoalKickerBundle/Resources/public/scss/Table/table.scss' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#{% javascripts '@InfoGoalKickerBundle/Resources/public/js/reload.js' %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{#{% endblock %}#}

{% block body %}
    <div class="container">

        <div id="table" class="col-xs-12">
            <img id="field-game" src="{{ asset('/bundles/infogoalkicker/assets/soccer-field.png') }}" alt="Soccer field"
                 class="img-responsive">

            <div id="table-game" class="match-results">
                <h1>Laimėtojai</h1>
                <div class="row">
                    <div class="col-sm-12 winners">
                        <div class="row">
                            <div class="col-sm-6">
                                {% if player1 is null %}
                                    {{ include('@InfoGoalKicker/Table/playerDefault.html.twig') }}
                                {% else %}
                                    {{ include('@InfoGoalKicker/Table/player.html.twig', { 'player': player1 }) }}
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                {% if player1 is null %}
                                    {{ include('@InfoGoalKicker/Table/playerDefault.html.twig') }}
                                {% else %}
                                    {{ include('@InfoGoalKicker/Table/player.html.twig', { 'player': player2 }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end table-game -->

        </div>
        <!-- end table -->

    </div><!-- end container -->


{% endblock %}