{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass' output='bundles/infogoalkicker/css/*.css'
    '@InfoGoalKickerBundle/Resources/public/scss/Timeline/timeline.scss'
    '@InfoGoalKickerBundle/Resources/public/scss/Profile/player.scss'
    '@InfoGoalKickerBundle/Resources/public/scss/Timeline/game.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@InfoGoalKickerBundle/Resources/public/js/jquery-ias.min.js'
                    '@InfoGoalKickerBundle/Resources/public/js/scroll.js'
        '@InfoGoalKickerBundle/Resources/public/js/backToTop.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Žaidimai{% endblock %}

{% block body %}
    <main class="container">

        <div class="row">
            <div class="timeline-centered">
                {% for game in games %}
                    {{ include('@InfoGoalKicker/Timeline/game.html.twig', { 'game': game }) }}
                {% endfor %}
            </div>
            <div id="pagination">
                {% if nextPage is not null %}
                    <a href="{{ url('info_goal_kicker_timeline', {'page' : nextPage}) }}" class="next" style="color: #080808">next</a>
                {% endif %}
            </div>
        </div>


    </main><!-- end container -->
    <a href="javascript:;" id="scrollToTop">Scroll to top</a>
{% endblock %}