<div class="col-xs-12 col-sm-5 col-md-5 player-icon">
    {% if player.photo is not empty %}
        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/' ~ player.photo ~ '.jpg') }}" alt="player" class="img-thumbnail">
    {% else %}
        <img src="{{ asset('bundles/infogoalkicker/assets/uifaces/default.png') }}" alt="player" class="img-thumbnail">
    {% endif %}
    <div class="level-icon"><div class="level-number">{{ player.level }}</div></div>
</div>
<div class="col-sm-7 col-md-7 hidden-xs player-info">
    <p class="player-name">
        <a href="{{ path('profile_page', {'id': player.id}) }}">
            {% autoescape %}
            {{ player.name|replace({ (' '): '<br>' })|raw }}
            {% endautoescape %}
        </a>
    </p>
    <p class="player-game-info">Žaista: {{ player.played }}   Laimėta: {{ player.won }}</p>
</div>