<div class="block badges-cnt">
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/1.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/2.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/3.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/4.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/1.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/2.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/3.png') }}">
    </div>
    <div class="col-md-3 my-badge">
        <img src="{{ asset('bundles/infogoalkicker/assets/badges/4.png') }}">
    </div>
    <div class="clearfix"></div>
</div>